{% extends 'todos/base.html' %}

{% block content %}
<div id="todo-app">
    <!-- Input field for new todo items -->
    <form method="post" hx-post="/add/" hx-target="#todo-list" hx-swap="beforeend">
      {% csrf_token %}
        <input type="text" name="title" placeholder="Add new todo" required>
        <button type="submit">Add</button>
    </form>

    <!-- Todo list -->
    <ul id="todo-list">
        {% for todo in todos %}
            {% include './_todo_item.html' %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
